body {
  font-family: sans-serif;
  overflow-x: hidden;
  height: 90% !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#joinRoomContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 4em;
}
#joinRoomField {
  max-width: 250px;
  padding: 10px;
  margin: 50% 20%;
}
#joinRoomButton {
  margin: -40% 20% 0% 20%;
  max-width: 250px;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  color: blue;
}

:root {
  font-size: 12px;
}

#navbar-menu {
  display: flex;
  height: 10%;
  align-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  /* padding-top: 1em; */
  max-width: 100vw;
  margin-top: -2em;
}
#navBar {
  display: flex;
  justify-content: space-between;
}

#navbar-menuitem {
  display: flex;
  width: 33.3%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#patty {
  height: 40vh;
  width: 55vw;
}

@media screen and (min-width: 800px) {
  #patty {
    width: 25%;
  }
}

#homepageBackground {
  /* text-align: center;
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  font-size: 2em; */
}
#message {
  margin: 0 0 -50 0 !important;
}

.formLabel {
  margin: -5px !important;
}

.homepageBlurb {
  border: 3px solid #6435c9;
  margin: 2% 10%;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  color: rgb(68, 22, 68);
  font-weight: bolder;
}

.homepage {
  overflow: hidden;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ui.container {
  margin-bottom: 20%;
  min-height: 100vh;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.ui.card > .content,
.ui.cards > .card > .content {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.ui.menu .ui.dropdown .menu > .item {
  position: relative;
}

.ui.cards {
  display: flex;
  align-content: center;
  align-items: center;
}
#homePage-h1 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 1vm;
}

.music-box {
  background-color: green;
  height: 100px;
  width: 250px;
}

.nav-title-text {
  font-weight: 900px;
  color: white;
  font-size: 28px;
  text-decoration: underline;
}

.form-popup,
.form-input {
  margin-top: 50px;
  max-width: 250px;
  padding: 10px;
}

/* CREATE ROOM COMPONENT */

#createRoom-formContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 4em;
}

/* ROOM COMPONENT */

.roomComponent-roomName {
  font-size: 2em;
  font-weight: bolder;
  text-align: left;
  margin: 25px 10px;
  color: black;
}

#roomComponent-roomKey-code {
  font-family: 'Bree Serif', serif;
  font-size: 1.25em;
  letter-spacing: 0.2em;
  padding: 7px;
  text-align: left;
  color: black;
  padding-bottom: 5px;
}

.roomComponent-roomKey-header {
  text-align: left;
  color: black;
  padding-bottom: 5px;
  margin: 0px 10px;
}
#close {
  background-color: rgb(199, 24, 24);
  border-radius: 10%;
  font-size: 0.75em;
  color: white;
  margin: 0px 10px;
}

h1 {
  text-align: center;
  color: #6435c9;
  margin-bottom: 10%;
}

#dashboard-buttons {
  text-align: center;
  margin-top: 5em !important;
}

.ui.basic.primary.button {
  margin: 5%;
  height: 10vh;
}

.vote-count {
  text-align: center;
  color: #6435c9;
}

.ui.icon.button {
  outline-color: #6435c9;
}

#vote-number {
  font-size: 1.5em;
  color: black;
}

#playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

#ui-search-form {
  margin: 5px;
}

#artist {
  color: #6435c9;
}

.card {
  padding-top: 3px;
}

#signUpLoginInput {
  background-color: rgb(233, 234, 248);
}

#currentSongContent {
  background-color: rgb(230, 225, 225);
  box-shadow: 5px 5px 2px grey;
}

.ui.stacked.segment {
  margin: 3em;
}

form.ui.largeform {
  margin-bottom: -10em;
}

#login-signup-buttons {
  display: flex;
  flex-direction: column;
}
