body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  color: blue;
}

:root {
  font-size: 12px;

}

.homepage {
  text-align: center;
  background-image: url('./yvette-de-wit-118721-unsplash.jpg');
  min-height: 100vh;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.homepageText {
  padding: 60px;
}

.music-box {
  background-color: green;
  height: 100px;
  width: 250px;
}

#navBar {
  display: flex;
  position: sticky;
}

.nav-title-text {
  font-weight: 900px;
  color: white;
  font-size: 28px;
  text-decoration: underline;
}

.form-popup,
.form-input {
  margin-top: 50px;
}

/* CREATE ROOM COMPONENT */

#createRoom-formContainer{
  padding: 10px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: orange

}


/* ROOM COMPONENT */
.roomComponent-roomName{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin: 25px 0px;
}
#roomComponent-roomKey-code{
  font-family: 'Bree Serif', serif;
  font-size: 1.25em;
  letter-spacing: 0.2em;
  padding: 7px;
  text-align: center
}
